
<div class="flex">
    <div class="sm-col-8 md:col-9">
        <div class="card">
            <div class="flex justify-content-between">
                <div>
                    <h5>{{ticket.title}}  </h5>
                    <div class="flex flex-wrap align-items-center" >
                        <p-chip label="Ouvert" icon="pi pi-check-circle" styleClass="m-1 p-chip p-chip-success "></p-chip>
                        <p class="text-center">
                            <strong>{{ticket.user.name}}</strong> a ouvert ce ticket le {{ticket.created_at}} · {{messages.length}} commentaire(s)
                        </p>
                    </div>
                </div>                
               <div>
                   <button [routerLink]="'/addTicket'" pButton pRipple type="button" label="Editer" title="Editer ce ticket" icon="pi pi-pencil" class="p-button-rounded"></button>
                   <button [routerLink]="'/addTicket'" pButton pRipple type="button" label="ticket" title="Créer un ticket" icon="pi pi-plus" class="p-button-rounded p-button-success"></button>
               </div> 

            </div>

            <p-panel header="'tbetous commented on Jul 24, 2017 •'" [toggleable]="true" class="line-height-3 m-5">
                {{ticket.content}}
            </p-panel>
							
            <div *ngIf="messages.length===0; else elseifBlock">
                <hr>
                <h6 style="color:bold; font-style: italic;">Aucun commentaire ajouté !</h6>	
            </div>
            <ng-template #elseifBlock>
                <hr>
                <h6 style="color:bold; font-style: italic;">{{messages.length}} commentaires ajouté(s) à ce ticket !</h6>	
            </ng-template>
           							
            <p-panel *ngFor="let message of messages" header="{{message.user.name}} a commenté le {{message.created_at}} •" [toggleable]="true" class="line-height-3 m-5">
                {{message.content}}
            </p-panel>          

            <h6>Ajouter votre commentaire ici...</h6>
			<textarea [(ngModel)]="comment" rows="5" cols="30" placeholder="Your Message" pInputTextarea></textarea>
            
            <div class="flex flex-row justify-content-around gap-5 mt-5">
				<button onclick="window.history.back()" pButton pRipple type="button" label="Retour" class="p-button-rounded p-button-secondary" style="width: 200px;"></button>
				<button pButton pRipple type="button" label="Commenter" class="p-button-rounded p-button-success" style=" width: 200px;" (click)="submitComment()"></button>
			</div>
        </div>
    </div>
    <div class="sm:col-4 md:col-3">
        <div class="flexS flex-columnS">
            
            <h5>Supports assignés</h5>
            <div class="flex flex-wrap gap-2 mb-2 pb-2">
                <p-chip label="Onyama Limbas" image="assets/demo/images/avatar/onyamalimba.png" styleClass="m-1"></p-chip>
            </div>
            <div class="flex flex-wrap gap-2 mb-2 pb-2">
                <p-multiSelect [options]="availableSupport" [(ngModel)]="selectedSupport" placeholder="assigner à des suppports" optionLabel="name" class="multiselect-custom" display="chip">
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center">
                            <span [class]="'ml-2 generic-badge'" [style]="'color='+country.color +' background='+country.background">{{country.name}}</span>
                        </div>
                    </ng-template>
                </p-multiSelect>
                <button  pButton pRipple type="button" title="Attribuer le ticket aux supports" icon="pi pi-plus" class="p-button p-button-success"></button>
            </div>
            <hr/>

            <h5>Tags ajoutés</h5>
            <div class="flex flex-wrap gap-2 pb-2">
                <span *ngFor="let tag of ticket.tags" [class]="'m-2 customer-badge'" [style.color]="tag.textColor"  [style.background]="tag.backgroundColor">{{tag.name}}</span>
            </div> 
            <div class="flex flex-wrap gap-2 mb-2 pb-2">
                <p-multiSelect [options]="availableSupport" [(ngModel)]="selectedSupport" placeholder="assigner à des suppports" optionLabel="name" class="multiselect-custom" display="chip">
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center">
                            <span [class]="'ml-2 generic-badge'" [style]="'color='+country.color +' background='+country.background">{{country.name}}</span>
                        </div>
                    </ng-template>
                </p-multiSelect>
                <button  pButton pRipple type="button" title="Ajouter des tags aux ticket" icon="pi pi-plus" class="p-button p-button-success"></button>
            </div>
            <hr/>

        </div>
    </div>
</div>

