<div class="grid p-fluid">
	<div class="col-12 md:col-12">
		<div class="card">		
			<h5 class="card-title" style="margin-bottom: 30px;">Nouveau ticket</h5>
			<span class="p-float-label">
				<input id="float-input" type="text" pInputText>
				<label for="float-input">Titre du ticket</label>
			</span>

			<h6>Type de ticket</h6>
			<p-dropdown [options]="types" [(ngModel)]="selectedType" placeholder="Choisissez le type de ticket" [showClear]="true" (onChange)="test()"></p-dropdown>


			<h6>Description</h6>
			<textarea rows="5" cols="20" placeholder="Your Message" pInputTextarea class="block d-block form-control" style="width:100%" ></textarea>

			<h6>Ajouter des tags</h6>
			<p-multiSelect [options]="countries" [(ngModel)]="selectedMulti" placeholder="tags" optionLabel="name" class="multiselect-custom" display="chip">
				<ng-template let-country pTemplate="item">
					<div class="flex align-items-center">
						<!--<img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width:21px"/>-->
						<span [class]="'ml-2 generic-badge'" [style]="'color='+country.color +' background='+country.background">{{country.name}}</span>
					</div>
				</ng-template>
			</p-multiSelect>
			<div class="flex flex-row justify-content-around gap-5 mt-5">
				<button onclick="window.history.back()" pButton pRipple type="button" label="Quitter" class="p-button-rounded p-button-secondary" style="max-width: 200px;"></button>
				<button pButton pRipple type="button" label="Valider" class="p-button-rounded p-button-success" style=" max-width: 200px;" (click)="submitTicket()"></button>
			</div>
		</div>
	</div>
</div>
