<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Liste des tickets</h5>
			<p-toast key="tst"></p-toast>
			<p-table #dt1 [value]="displayTickets" dataKey="id" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="filtrer ici" class="w-full"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="min-width: 12rem">
							<div class="flex flex-row justify-content-between gap-5 mt-5">
									<p-selectButton [options]="ticketStates" [(ngModel)]="filterState" [multiple]="true" optionLabel="name" (onChange)="filterTicketsState()"></p-selectButton>
									<button pButton pRipple type="button" label="Nouveau ticket" class="p-button-rounded p-button-success" style=" max-width: 200px;" [routerLink]="'/addTicket'"></button>
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-ticket>
					<tr [routerLink]="['/tickets', ticket.id]" title="Cliquer pour plus de détail">
						<td>
							<i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': ticket.state==='CREATED', 'false-icon pi-times-circle text-pink-500': ticket.state !== 'CREATED'}"></i>
							<a style="color:black; padding-left:5px; padding-right: 15px">{{ticket.title}}</a>
							<span *ngFor="let tag of ticket.tags" [class]="'m-2 customer-badge'" [style.color]="tag.textColor"  [style.background]="tag.backgroundColor">{{tag.name}}</span>
							<br><code class="muted-text" style="opacity:50%"># {{ticket.id}} ouvert le {{ticket.created_at}} par {{ticket.user.name}}</code>
						</td>
					</tr>
					
				</ng-template>
				
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">Aucun ticket trouvé.</td>
					</tr>
				</ng-template>
				<ng-template *ngIf="loading">
					<tr>
						<td colspan="8">Chargement des tickets en cours... Veuillez patienter.</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>
</div>
